@import url("https://use.typekit.net/udm8cpf.css");

.App {
  text-align: center;
  cursor: none;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: bely, serif;
  transition: 1s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  cursor: pointer;
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
}

a {
  /* all: unset; */
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

#cursor {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background: linear-gradient(217deg, #e66465, #9198e5);
  display: inline;
  position: fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
  margin-left: -22px;
  margin-top: -22px;
  transition: scale 0.4s ease-out;
  z-index: 3;
  /* transform-origin: 50%, 50%; */
  /* transition: width 1s ease-in-out;
  transition: height 1s ease-in-out; */
  /* box-shadow: 0px 0px 1px 1px #0000001a; */
}

/* .pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
} */

#cursor.hover {
  /* width: 70px;
  height: 70px; */
  /* border-radius: 60px; */
  opacity: 50%;
  scale: 2.5;
  transition: scale 0.3s ease-in;
}

#circle {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border: solid 1.5px rgb(137, 135, 179);
  display: inline;
  position: fixed;
  pointer-events: none;
  z-index: 3;
  /* top: 30%;
  right: 30%; */
  /* transition: all 13s ease-out; */
}

#circle.hover {
  display: none;
}

.image-container {
  border-radius: 5px;
  overflow: hidden;
}

.button {
  font-family: "Montserrat";
  margin: 20px;
  padding: 20px 20px;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.button:hover {
  text-decoration: none;
  color: inherit;
}

.gradient {
  background: linear-gradient(217deg, #d44c4c 10%, #5b63b9);
  background-size: 200%;
  background-position-x: 99%;
  transition: 0.35s;
}

.gradient:hover {
  background-position-x: 0%;
  transition: 0.35s;
  color: white;
}

.section {
  padding: 200px;
}

.App.white {
  background-color: white;
  color: black;
}

.image-title {
  font-family: "Montserrat";
  text-align: left;
  padding-top: 10px;
  transform: translateY(20px);
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}

.project-tile:hover .image-title {
  transform: translateY(0px);
  visibility: visible;
}

.project-tile {
  display: inline-block;
  overflow: hidden;
}

footer {
  padding: 100px;
  background-color: white;
  color: black;
  min-height: 20vh;
}

footer .button {
  color: black;
  font-size: 18px;
}

.App.white footer {
  background-color: #282c34;
  color: white;
}

.App.white footer .button {
  color: white;
}

#copyright {
  padding: 50px;
  font-family: Montserrat;
}

#logo {
  max-width: 70px;
  fill: white;
  position: fixed;
  top: 50px;
  left: 40px;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}

.App.white #logo {
  fill: black;
}

.intro {
  max-width: 780px;
  margin: 0 auto;
}

#toggle-background {
  padding: 10px;
  position: fixed;
  right: 40px;
  bottom: 50px;
  z-index: 1;
  width: 100px;
  height: 50px;
}

#toggle-icon {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  transition: all 0.5s ease-in-out;
  margin-left: 0px;
}

#toggle-background.white #toggle-icon {
  margin-left: 45px;
}

.toggle-menu {
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 60px;
  right: 60px;
  transition: all 0.25s ease-in-out;
}

#open-menu {
  background-color: red;
}

#close-menu {
  background-color: blue;
}

#menu-body {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s;
  display: none;
  opacity: 0;
}

#menu-list {
  padding-top: 10vh;
  border-left: solid 3px black;
  height: 100vh;
}

#menu-list li {
  list-style: none;
  text-align: left;
}

.App.white #menu-body {
  background-color: white;
  color: black;
}

.hidden {
  opacity: 0;
}

#name {
  position: fixed;
  top: 85px;
  left: 130px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

#name span {
  font-weight: 100;
}

.stack-text {
  display: block;
  transition: transform 0.25s ease-in-out;

  /* transform: translateY(-80px); */
}

.menu-item {
  margin: 60px;
  /* background-color: yellow; */
  height: 80px;
  line-height: 80px;
  transition: transform 1s ease-in-out;
  overflow: hidden;
}

li.menu-item:hover .stack-text {
  transform: translateY(-80px);
}

.index {
  position: absolute;
  margin-left: -30px;
  margin-top: -20px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #575d69;
  display: block;
  letter-spacing: 2px;
}

.menu-item:hover .index {
  background-image: linear-gradient(217deg, #d44c4c 10%, #5b63b9);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-link:hover {
  text-decoration: none;
  color: inherit;
}
