.App {
  padding-top: 100px;
  text-align: center;
  cursor: none;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 1s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  all: unset;
}

img {
  cursor: pointer;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

#cursor {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background: linear-gradient(217deg, #e66465, #9198e5);
  display: inline;
  position: fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
  margin-left: -22px;
  margin-top: -22px;
  transition: scale 0.4s ease-out;
  z-index: 1;
  /* transform-origin: 50%, 50%; */
  /* transition: width 1s ease-in-out;
  transition: height 1s ease-in-out; */
  /* box-shadow: 0px 0px 1px 1px #0000001a; */
}

/* .pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
} */

#cursor.hover {
  /* width: 70px;
  height: 70px; */
  /* border-radius: 60px; */
  opacity: 50%;
  scale: 2.5;
  transition: scale 0.3s ease-in;
}

#circle {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border: solid 1.5px rgb(137, 135, 179);
  display: inline;
  position: fixed;
  pointer-events: none;
  /* top: 30%;
  right: 30%; */
  /* transition: all 13s ease-out; */
}

#circle.hover {
  display: none;
}

.image-container {
  border-radius: 5px;
  overflow: hidden;
}

.button {
  margin: 20px;
  padding: 20px 100px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.button:hover {
  text-decoration: none;
  color: inherit;
}

.gradient {
  background: linear-gradient(217deg, #d44c4c 10%, #5b63b9);
  background-size: 200%;
  background-position-x: 99%;
  transition: 0.35s;
}

.gradient:hover {
  background-position-x: 0%;
  transition: 0.35s;
  color: white;
}

.section {
  min-height: 80vh;
  padding: 100px;
}

.App.white {
  background-color: white;
  color: black;
}

.image-title {
  text-align: left;
  padding-top: 10px;
  transform: translateY(20px);
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}

.project-tile:hover .image-title {
  transform: translateY(0px);
  visibility: visible;
}

.project-tile {
  display: inline-block;
  overflow: hidden;
}

footer {
  padding: 100px;
  background-color: white;
  color: black;
  min-height: 50vh;
}

footer .button {
  color: black;
  font-size: 18px;
}

.App.white footer {
  background-color: #282c34;
  color: white;
  word-spacing: ;
}

.App.white footer .button {
  color: white;
}

#copyright {
  padding: 50px;
}
